html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7 !important;
  scroll-behavior: smooth;
}

body {
  overflow: visible !important;
  padding-right: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin-inline-start: 1em;
}

button {
  cursor: pointer;
}

label {
  cursor: pointer;
}
